<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ test.name }}</title>
</head>
<body>
  <div>
      <ul>
          <h4>{{ test.name }}</h4>
      </ul>

      <ul>
          {% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}
              <form action="{% url 'topics:question_detail' test.id question.get_next.id %}" method="post">
              {% csrf_token %}
                     <p>Вопрос: {{ question.name }}</p>
                      <p>Варианты ответов:</p>
                      {% for answer in question.answers.all %}

                        <p><input type="checkbox" value={{answer.name}} name="check">{{ answer.name }}</p>
                      {% endfor %}
                  <input type="submit" value="Следующий вопрос">

              </form>
      </ul>
  </div>
</body>
</html>