<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ test.name }}</title>
</head>
<body>
  <div>
      <ul>
          <h3>{{ test.name }}</h3>
          <h3>{{ test.id }}</h3>
      </ul>

      <ul>
                <h4> Вопрос : {{ object }}</h4>

                <p> Варианты ответов: </p>
                  {% for answer in object.answers.all %}
                     <p><input type="radio" value={{answer}} name={{q}}/>{{ answer }}</p>
                  {% endfor %}
          <a href= "{% url 'topics:question_detail' test.id object.id %}"> Cледующий вопрос </a>

      </ul>
  </div>
</body>
</html>